

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav {
  position: absolute;
  top: 40px;
  left: 120px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.login-box {
  background-color: #3c3951;
  padding: 40px 50px;
  border-radius: 10px;
  border: 1px solid #7E7C7C;
  min-width: 450px;
  box-shadow: none;
  text-align: center;
  margin: 0 auto;
}

.login-header {
  margin-bottom: 25px;
}

.admin-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px;
}

.login-header h2 {
  color: white;
  font-size: 1.1rem;
}

.label {
  color: white;
  font-size: 0.9rem;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #6B6587;
  border: 1px solid #4B4C4D;
  color: white;
  font-size: 0.95rem;
}

.input-group input::placeholder {
  color: #C4C2D4;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #8C8FE8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #7D82E1;
}